<div class="app">
  <section>
    <div class="page">
      <div class="inner">
        <table>
          <tr>
            <td style="width: 10.5cm;"><img style="width:100%;" src="assets/logo.jpg"></td>
            <td style="width: 1cm;"></td>
            <td><h1 style="font-size: 2.5em;">ORDEN DE REPARACIÓN </h1><input id="orden_" style="font-size: 1.5em; color: red; font-weight: 700;" type="number"></td>
          </tr>
          <tr>
            <td style="vertical-align: top;">
              <table id="table1_" style="margin-bottom: 0; font-size: 0.9em;">
                <tr>
                  <th colspan="6">DATOS DEL VEHÍCULO</th>
                </tr>
                <tr>
                  <td colspan="3" style="min-width: 6cm;">MARCA Y TIPO <input type="text"></td>
                  <td colspan="2">MODELO <input type="text"></td>
                  <td colspan="1">COLOR <input type="text"></td>
                </tr>
                <tr>
                  <td rowspan="2" style="width:3cm;">PLACAS <input type="text"></td>
                  <td colspan="3">INGRESO EN GRUA</td>
                  <td colspan="2" rowspan="2">KILOMETRAJE <input type="text"></td>
                </tr>
                <tr>
                  <td>SI <input type="radio" name="plus" id=""></td>
                  <td colspan="2">NO <input type="radio" name="plus" id=""></td>
                </tr>
                <tr>
                  <td colspan="4">SERIE <input type="text"></td>
                  <td>ASEGURADO <input type="radio" name="seg" id=""></td>
                  <td>TERCERO <input type="radio" name="seg" id=""></td>
                </tr>
                <tr>
                  <td colspan="6">SINIESTRO</td>
                </tr>
                <td colspan="6"><input type="text"></td>                
              </table>
            </td>
            <td></td>
            <td>
              <table style="height: 100%; margin-bottom: 0; font-size: 0.85em;" id="table1_">              
                <tr>
                  <th colspan="2">DATOS DEL CLIENTE</th>
                </tr>
                <tr>
                  <td>INGRESO</td>
                  <td>CIRCULACIÓN</td>
                </tr>
                <tr>
                  <td><input type="date"></td>
                  <td><input type="text"></td>
                </tr>
                <tr>
                  <td colspan="2">NOMBRE <input type="text"></td>
                </tr>
                <tr>
                  <td colspan="2">TELEFONOS <input type="text"></td>
                </tr>
                <tr>
                  <td colspan="2">DATOS DE DEDUCIBLE <textarea rows="2"></textarea></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

        <table>
          <tr>
            <td style="width: 2.88cm;" (click)="general();">
              <img *ngIf="!gen" style="width:90%;" src="assets/general2.png">
              <img *ngIf="gen" style="width:90%;" src="assets/general.png">
            </td>
            <td style="width: 2.88cm;" (click)="zurich();">
              <img *ngIf="!zur" style="width:90%;" src="assets/zurich2.png">
              <img *ngIf="zur" style="width:90%;" src="assets/zurich.png">
            </td>
            <td style="width: 2.88cm;" (click)="qualitas();">
              <img *ngIf="!qua" style="width:90%;" src="assets/Qualitas2.png">
              <img *ngIf="qua" style="width:90%;" src="assets/Qualitas1.png">
            </td>
            <td style="width: 2.88cm;" (click)="atlas();">
              <img *ngIf="!atl" style="width:90%;" src="assets/atlas2.png">
              <img *ngIf="atl" style="width:90%;" src="assets/atlas.jpg">
            </td>
            <td style="width: 2.88cm;" (click)="potosi();">
              <img *ngIf="!pot" style="width:90%;" src="assets/potosi2.png">
              <img *ngIf="pot" style="width:90%;" src="assets/potosi.png">
            </td>
            <td style="width: 2.88cm;" (click)="afirme();">
              <img *ngIf="!afi" style="width:90%;" src="assets/afirme2.png">
              <img *ngIf="afi" style="width:90%;" src="assets/afirme.png">
            </td>
            <td style="width: 2.88cm;" (click)="multiacabados();">
              <img *ngIf="!mul" style="width:90%;" src="assets/logo2.jpg">
              <img *ngIf="mul" style="width:90%;" src="assets/logo.jpg">
            </td>
          </tr>
        </table>

        <table id="table1_">
          <tr>
            <th style="letter-spacing: .5em;">DESCRIPCIÓN DE DAÑOS A REPARAR</th>
          </tr>
          <tr>
            <td><textarea rows="6"></textarea></td>
          </tr>
        </table>

        <table>
          <tr>
            <td>
              <table style="min-width: 11cm; margin-bottom: 0;" id="table1_">
                <tr>
                  <th colspan="4">INVENTARIO</th>
                </tr>
                <tr>
                  <td>Gato</td>
                  <td><input type="checkbox"></td>
                  <td>Antena</td>
                  <td><input type="checkbox"></td>
                </tr>
                <tr>
                  <td>Herramienta</td>
                  <td><input type="checkbox"></td>
                  <td>Emplemas</td>
                  <td><input type="checkbox"></td>
                </tr>
                <tr>
                  <td>Triangulos</td>
                  <td><input type="checkbox"></td>
                  <td>Tapones de Rueda</td>
                  <td><input type="checkbox"></td>
                </tr>
                <tr>
                  <td>Tapetes</td>
                  <td><input type="checkbox"></td>
                  <td>Cables</td>
                  <td><input type="checkbox"></td>
                </tr>
                <tr>
                  <td>Llanta refacción</td>
                  <td><input type="checkbox"></td>
                  <td>Stereo</td>
                  <td><input type="checkbox"></td>
                </tr>
                <tr>
                  <td>Extinguidor</td>
                  <td><input type="checkbox"></td>
                  <td>Encendedor</td>
                  <td><input type="checkbox"></td>
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr>
                  <td rowspan="2">
                    <div class="gauge_">
                      <rg-gauge-chart [canvasWidth]="canvasWidth" [needleValue]="needleValue"
                        [centralLabel]="centralLabel" [options]="options" [name]="name" [bottomLabel]="bottomLabel">
                      </rg-gauge-chart>
                      <input id="slider" type="range" min="0" max="100" class="no-print" (change)="combus($event)" />
                    </div>
                  </td>
                  <td style="width: 1.5cm;" (click)="airbag()">
                    <img *ngIf="!air" style="width: 95%;" src="assets/airbag1.jpg" alt="">
                    <img *ngIf="air" style="width: 95%;" src="assets/airbag2.jpg" alt="">
                  </td>
                  <td style="width: 1.5cm;" (click)="engine()">
                    <img *ngIf="!eng" style="width: 95%;" src="assets/engine1.jpg" alt="">
                    <img *ngIf="eng" style="width: 95%;" src="assets/engine2.jpg" alt="">
                  </td>
                </tr>
                <tr>
                  <td (click)="abs_()">
                    <img *ngIf="!abs" style="width: 95%;" src="assets/ABS1.jpg" alt="">
                    <img *ngIf="abs" style="width: 95%;" src="assets/ABS2.jpg" alt="">
                  </td>
                  <td (click)="oil_()">
                    <img *ngIf="!oil" style="width: 95%;" src="assets/oil1.jpg" alt="">
                    <img *ngIf="oil" style="width: 95%;" src="assets/oil2.jpg" alt="">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

        <table>
          <tr>
            <td colspan="4" style="font-size: 1.2em; letter-spacing: .5em; padding-bottom: 2mm;">DAÑOS PREXISTENTES</td>
          </tr>
          <tr>
            <td (click)="clear1()" style="cursor: pointer;">Lado derecho</td>
            <td (click)="clear2()" style="cursor: pointer;">Frente</td>
            <td (click)="clear3()" style="cursor: pointer;">Detras</td>
            <td (click)="clear4()" style="cursor: pointer;">Lado izquierdo</td>
          </tr>
          <tr>
            <td id="sig1" style="width: 5cm;">
                <signature-pad #sig1 [options]="signaturePadOptions"></signature-pad>
            </td>
            <td id="sig2" style="width: 5cm;">
                <signature-pad #sig2 [options]="signaturePadOptions"></signature-pad>
            <td id="sig3" style="width: 5cm;">
                <signature-pad #sig3 [options]="signaturePadOptions"></signature-pad>
            </td>
            <td id="sig4" style="width: 5cm;">
                <signature-pad #sig4 [options]="signaturePadOptions"></signature-pad>
          </tr>
        </table>

        <table>
          <tr>
            <td>
              <div class="signature">
                <div id="contSign" onclick = "btn_click()">
                  <img src="" id="imgSign">
                </div>
                <hr>
                Firma
                
              </div><br>
              Multiacabados
            </td>
            <td style="width:2.5cm;"></td>
            <td>
                <div class="signature">
                    <div id="contSign2" onclick = "btn_click2()">
                      <img src="" id="imgSign2">
                    </div>
                    <hr>
                    Firma Cliente
                  </div> <br>
                  Acepto presupuesto y reparación
            </td>
          </tr>
        </table>

        <table>
          <tr>
            <td style="font-size: 0.9em;">Garantizo y aseguro que soy el dueño que estoy autorizando al taller Multiacabados la reparación. Con el trabajo ya descrito junto con las piezas de repuesto y/o materiales necesarios para la reparación.</td>
          </tr>
          <tr>
            <td style="font-size: 1.2em; padding: 2mm 0 0 0;">Después de 8 días de terminada la reparación se le cobrará pensión por uso de piso.</td>
          </tr>
          <tr>
            <td style="font-weight: 700;">Manuela Herrera 85-A Col. Gertrudis Bocanegra Morelia-Mich. (443) 326-28-42 (443) 156-23-09</td>
          </tr>
          <tr>
            <td>multiacabadosmorelia@hotmail.com</td>
          </tr>
        </table>

      </div>
      <div class="no-print" id="printBtn" onclick="pdf()">
        <img src="assets/save.png" alt="" width="75" height="75">
      </div>
    </div>
  </section>

  <section>
    <div class="page" id="pag_2">
      <div class="inner">
        <div class="section6">
          <h3 id="sub_title">ESTADO DEL VEHÍCULO</h3><br><br>
          <div class="table">
            <div class="tr thead">
                <div class="td">Imagen</div>
                <div class="td ">Descripción</div>
            </div>
            <div class="tr">
              <div class="td">
                <div class="image-container">
                  <input type="file" accept="image/*" name="img1" onchange="showMyImage(this)">
                </div>
              </div>
              <div class="td "><textarea name="img1d" id="txa"  rows="12" wrap="soft" tabindex="64" class="focusNext" autocomplete="off"></textarea></div>
            </div>
            <div class="tr">
              <div class="td">
                  <div class="image-container">
                    <input type="file" accept="image/*" name="img2" onchange="showMyImage(this)">
                  </div>
              </div>
              <div class="td "><textarea name="img2d" id="txa"  rows="12" wrap="soft" tabindex="65" class="focusNext" autocomplete="off"></textarea></div>
            </div>
            <div class="tr">
              <div class="td">
                  <div class="image-container">
                    <input type="file" accept="image/*" name="img3" onchange="showMyImage(this)">
                  </div>
              </div>
              <div class="td "><textarea name="img3d" id="txa"  rows="12" wrap="soft" tabindex="66" class="focusNext" autocomplete="off"></textarea></div>
            </div>
            <div class="tr">
              <div class="td ">
                  <div class="image-container">
                    <input type="file" accept="image/*" name="img4" onchange="showMyImage(this)">
                  </div>
              </div>
              <div class="td  "><textarea name="img4d" id="txa" rows="12" wrap="soft" tabindex="67" class="focusNext" autocomplete="off"></textarea></div>
            </div>
          </div>
        </div>
  
  
      </div>
    </div>
  </section>
</div>

